<div class="modal fade" id="confirmarDesvinculacaoModal" tabindex="-1" aria-labelledby="confirmarDesvinculacaoLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-red text-white">
                <h5 class="modal-title" id="confirmarDesvinculacaoLabel">Confirmar Desvinculação</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Tem certeza que deseja desvincular a máquina <span class="text-orange fw-bold" id="nomeMaquinaModal"></span>?</p>
                <p>Essa ação não pode ser desfeita.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-green-light" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-red" id="btnConfirmarDesvinculacao">Desvincular</button>
            </div>
        </div>
    </div>
</div>